# Database Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=employees
MYSQL_USER=root
MYSQL_PASSWORD=root

# Backend Configuration
SECRET_KEY=c8d4e46af408033c520e8634969b31517a9a4b8f0a895c6cdb611ac2ccfeff7a
DATABASE_URL=mysql+pymysql://root:root@db:3306/employees

# Frontend Configuration
REACT_APP_API_URL=http://localhost:8000